<p>
  <a href="https://www.youtube.com/watch?v=rEq1Z0bjdwc">
    Hello there
  </a>
  , random visitor of my weblog. You may call me Aldo (or Al, if you don't have the time). 
  I am a Computer Engineering graduate with a sweet spot for scalable and robust 
  applications, as well as cutting-edge and reliable technologies.</p>

<p>As a Software Engineer, I am proficient in different programming paradigms and languages, using the most appropriate tools in designing and building software applications that work well under high load, so your users will always be happy using a functional application.</p>

<p>Some of the tools I use on a daily basis are:</p>

<ul>
  <li><strong>Back-end technologies</strong>: Ruby, Rails, Elixir, Node.js</li>
  <li><strong>Front-end technologies</strong>: JavaScript, ReactJS, VueJS, SASS</li>
  <li><strong>Databases</strong>: PostgreSQL, MongoDB, MySQL, Redis</li>
  <li><strong>Misc</strong>: Docker, Chef, Jira, Heroky, AWS</li>
</ul>
  
<p>If my skills meet your needs, feel free to contact me.</p>