<footer>
  {% if site.linkedin_username %}
  <a class="social-link" href="http://linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fab fa-linkedin-in"></i>
  </a>
  {% endif %}

  {% if site.github_username %}
  <a class="social-link" href="http://github.com/{{ site.github_username }}">
    <i class="fab fa-github"></i>
  </a>
  {% endif %}

  {% if site.twitter_username %}
  <a class="social-link" href="http://twitter.com/{{ site.twitter_username }}">
    <i class="fab fa-twitter"></i>
  </a>
  {% endif %}

  {% if site.facebook_username %}
  <a class="social-link" href="http://facebook.com/{{ site.facebook_username }}">
    <i class="fab fa-facebook-f"></i>
  </a>
  {% endif %}

  {% if site.instagram_username %}
  <a class="social-link" href="http://instagram.com/{{ site.instagram_username }}">
    <i class="fab fa-instagram"></i>
  </a>
  {% endif %}

  {% if site.medium_username %}
  <a class="social-link" href="http://medium.com/@{{ site.medium_username }}">
    <i class="fab fa-medium-m"></i>
  </a>
  {% endif %}
</footer>
