---
layout: default
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
<div class="jumbotron" style="text-align: center; min-height: 400px">
  <p class="jumbotron-heading" style="margin-top: 3em">Hi, this is Aldo</p>
  <p class="lead" id="typewriteText"></p>
</div>
<div class="col-lg-8 offset-md-2">
  <section id="recent-articles">
    <div id="recent-articles-header">
      <div id="recent-articles-title">
        <h1 class="card-title">Recent Articles</h1>
      </div>
      <div id="recent-articles-show-all">
        <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
      </div>
    </div>
    <br/>

    <ul>
      {% for post in site.posts limit:5 %}
      <li class="article-card">
        <a href="{{post.url}}" class="article-card-link">
          <div id="article-container">
            <div class="article-container--left">
              <div id="article-img">
                {% if post.icon %}
                <img src="{{site.url}}{{site.baseurl}}/assets/img/{{post.icon}}" width="30px"/>
                {% else %}
                <img src="{{site.url}}{{site.baseurl}}/assets/img/site/pencil.png" width="30px" height="30px"/>
                {% endif %}
              </div>
              <div id="article-link">
                <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time
                    datetime="{{ post.date }}"
                    itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
              </div>
            </div>
            <div id="article-alert">
              {% for cat in post.category limit:1 %}
              <a href="{{site.url}}{{site.baseurl}}/category/{{cat}}">
                <button class="btn btn-sm btn-dark">{{cat}}</button>
              </a>
              {% endfor %}
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
